body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.background{
	background-image: url("https://d.img.vision/babe/4E6DC2A8-2360-4BA1-9E59-A31C76403DDF.jpeg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;  
	justify-content: center;
}
.background h3::after{
	content: "";
	width: 100px;
	height: 40px;
  
}
.background h3{
	margin: 0;
	padding: 0;
	font-family: '';
	background-color: #fff9;
	mix-blend-mode: screen;
	width: 100%;
	padding: 12px 0 12px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 27px;
	text-shadow: 2px 2px 0 #0009;
}
.menu{
	width: 60px;
	height: 60px;
	background-color: transparent;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.menu .cm div{
	width: 20px;
	height: 2px;
	background: #fff9;
}
.menu .cm div:nth-child(2){
   margin: 5px 0 5px 0;
}
.top{
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: transparent;
	transition: 0.5s;
}
.logo{
	height: 60px;
	position: fixed;
	display: flex;
	align-items: center;
	padding: 0 20px 0 20px;
	font-size:20px;
	font-family: sans-serif;
	font-weight: bolder;
	color: #fff9;
}
.scrollbottom{
	position: absolute;
	bottom: 30px;
	color: #fff;
	
}
.mouse{
bottom: 0;
	width: 20vw;
	height: 120px;
	background: #0000;
	position: absolute;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	position: reletive;
	animation: colorchange 1.5s ease-in 1s infinite reverse;
}
.tl{
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
}
.tl div{
width: 3px;
height: 30px;
	background-color: #fff9;
	border-radius: 1px;
	
}
.mou{
	width: 15px;
	height: 25px;
	border-radius: 10px;
	border: 3px solid #fff9;
}
 
 .mi{
	 width: 100%;
	 height: 50px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 
 }
.bl{
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bl div{
	width: 3px;
	
	height: 30px;
	background-color: #fff8;
}
.mou .line{
	width: 15px;
	height: 3px;
	background-color: #fff8;
}
.mou .vline{
	width: 3px;
	height: 10px;
	background-color: #fff8;
	margin-left: 6px;
}
.ham{
	width: 15vh;
	height: 15vh;
	position: absolute;
	right: 0;
}

.ham div{
	width: 15vh;
	height: 15vh;
	transform: rotate(90deg);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	background: linear-gradient(-45deg, #d34786, #6283b5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


@keyframes colorchange {
	0%{ bottom: 0px; }
	50%{ bottom: 20px;}
	100%{ bottom: 0px; }
}
section{
	width: 100%;
	
	min-height: 100vh;
}
.section1{
	background: url(https://d.img.vision/babe/0C1974DF-2CD1-4E31-845C-388770E45C7D.jpeg);
	background-position: center;
	background-size: cover;
	position: relative;
	
}
.section1 p{
	margin: 0;
	color: #fff0;
	width: 60%;
	text-align: right;
	position:absolute;
	bottom: 10px;
	right: 10px;
	padding-bottom: 50px;
	
	transition: 0.5s;
}
.section1 h3{
	margin: 0;
	color: #fff9;
	padding: 20px 0 0 20px;
	transition: 0.5s;
}
.section2 form{
	text-align: center;
	margin: 0;
	padding: 0;
}
.section2 form input{
	margin-top: 15px;
	border: none;
	padding: 10px;
	background: #0000;
	border-bottom: 1px solid #fff;
	outline: none;
	color: #fff;
}
.section2 form input[type='button']{
	color: #000;
	font-weight: bolder;
	padding: 10px 25px 10px 25px;
	border-radius: 5px;
	margin-top: 30px;
	background-color: #fff;
}
.section2 form input::placeholder{
	color: #fff9;
	font-size: 15px;
}
.section2 .cnt{
padding: 30px 20px 30px 20px;
background: #0009;
border-radius: 10px;
}
.section2 h3{
	margin: 0;
	padding: 0;
	text-align: center;
}
.section2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(https://d.img.vision/babe/D981001F-46F7-485A-91CD-F8C2454934A4.jpeg);
	background-position: left;
	background-size: cover;
	transition: 1s;
}
.section2 h3{
	color: #fff;
}
.dropDown{
	position: fixed;
	width: 60%;
	height: 100vh;
	background-color: #000;
	z-index: 2;
	color: #fff;
	top: 0;
	left: -60%;
	transition: 0.5s;
}
.dropDown h3{
	margin-left: 20px;
}
.menuItem{
	margin: 20px 0 20px 20px;
}
.copy{
	text-align: center;
	padding: 20px 0 20px 0;
}
footer{
	background: #000;
	color: #fff;
}
